.login-card {
  width: 90%;
  max-width: 320px;
  margin: 25vh auto;
  padding: 25px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #000;
  border: 1px solid #0ff;
  color: #0ff;
  border-radius: 8px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #0ff;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

#error {
  color: red;
  margin-top: 10px;
}
